html,body{
  height: 100%;
  padding: 0;
  margin: 0;
}

form {
  border:2px solid #04043f; 
  width:300px; 
  padding: 15px; background-color:#b9b9c0; border-radius:5px;
}

div.outer{
  display: table;
  height: 100%;
  margin: 0 auto;
}

div.inner{
  display: table-cell;
  vertical-align: middle;
}